@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* First Page styling */
section#first-page{
    background-image: url("../images/first-main.png");
    height:716px;
    
}

/* All that pertains to the Navbar */
.navbar{
    background-color: rgba(0, 0, 0, 0.5);
    height: 116px;
    border-bottom: 1px solid black;
    animation: slideInFromTop 1s ease-in;

}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.navbar .sub-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;  
    padding: 100px;


    
}

.navbar .container img{

}

.navbar ul{
    list-style-type: none;   
    display: flex; 

}

.navbar ul li{
  
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 30px;
}

.navbar a:hover{
    color:darkgrey;
}

/* Navbar button */
#wallet{
    background-color: #2CAE77;
    width: 185px;
    height: 55px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    border-style: none;
}

.navbar ul{
    list-style-type: none;   
    display: flex; 
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.header-text .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: slideInFromBottom 1s ease-in;

}

/* First Text */
p#large-header{
    font-size: 64px;
    font-weight: 600;
    padding-top: 200px;
}  
/* Sub-Text */
p.sub-header{
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;

}

/* Search for artists, events and venue */
div#search{
    width:676px;
    height:82px;
    background-color: rgb(0,0,0,0.7); 
    margin: auto; 
    border-style: ridge;
    border-width: 1px;  
    border-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding-right: 5px;
    
}

div#search img{
    padding: 10px;
}

input.search{
    background-color: transparent; 
    border:none;
    width:400px;
    font-size: 24px;
    font-weight: 200;

}

#search input[type=text]{
    color:white;
}

#search input:focus {
    outline: none;
}

/* Search button */
button#search{
    color:white;
    background-color: #2CAE77;
    width:125px;
    height:55px;
    font-size: 18px;
    font-weight: 700;
    border:none;
}

/* Section of the pages with black background */
section#black-pages{
    overflow:auto;
    background-color: #0a0a0a;
    color: white;
}

/* Location and browse concerts */
div#location{
    
    padding-left: 100px;
    padding-top: 75px;
    line-height: 0.2em;
    animation: slideInFromLeft 1s ease-in;
    border-bottom: 0.5px solid white;
    padding-bottom: 30px;

}

p#browse{
    font-size: 24px;
    font-weight: 100;
    
}

h1#browse{
    font-size: 54px;
    font-weight: 400;
}
div#lagos{
    display: flex;
    justify-content: start;
    padding-top: 50px;
 
}

button#artist{
    width:135px;
    height:39px;
    background-color: #182A23;
    border-color: #c4c4c4;
    border-radius: 30px;
    border-width: 1px;
    color:white;
    font-size: 16px;
}

button#date{
    width:135px;
    height:39px;
    background-color: #0F3D2A;
    border-color: #2CAE77;
    border-radius: 30px;
    border-width: 1px;
    color:white;
    font-size: 16px;

}

 #buttons{
    padding-top: 40px;
} 

#bottom-lagos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Girl Images */
section#images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    animation: slideInFromLeft 1s ease-in;  
    padding:50px; 
}

.image-div{
    padding: 10px;
}

.image{
    height: 280px;
    width:393px;
    background: transparent;
    color: white;
    border: 1px white;
    border-style: ridge;
    position: relative;

}

.girl{
    width:393px;
    height:170px;
    position:relative; 
}
.love{
    top: 150px;
    right: 10px;
    position: absolute;
}
.text img{
    width:16px;
    height:16px;
}

div.text{
    padding-left: 60px;  
    padding-top: 20px;
}


/* How Concertz Works */

div#how{

    color: white;
    padding-left: 100px;
    padding-top: 20px;
}

/* Steps */

section#steps{
    display:flex;
    animation: slideInFromRight 1s ease-in;
    padding-top: 30px;
    padding-right: 100px;
    
}

.number{
    width: 58px;
    height: 58px;
    background-color: #121212;
    padding: 11px 20px;
    font-size: 26px;
}
.how-text{
    font-size: 54px; 
    font-weight: 300;
}
.step-div{
    padding:10px;
}
.step{
    width: 393px;
    height:363px;
    border: 1px white;
    border-style: ridge;
    padding-left:24px;
    padding-top: 24px;

}

button#connect{
    width: 185px;
    height: 55px;
    background-color: #2CAE77;

    color: white;
    font-size: 18px;
    font-weight: 500;
   }

    .section-div{
        border-bottom: 0.5px solid #BDBDBD; 
        width:100%; 
   }

section#steps{
    display:flex;
    padding-bottom: 300px;
    padding-left: -30px;
   
}
.line{
    border-bottom: 1px solid white;
}

/* Footer */

footer{
    padding-top: 40px;
    width: 100%;
}
/* Handles */
.handles{
    width:230px;
    height:30px;
    display: flex;
    justify-content: space-between;
}

.socials{
    display: flex;
    align-items: center;
}

.footer_part{
    display: flex;
    justify-content: space-between;  
    padding-bottom: 70px;


}

.footer_text{
    display: flex;
    justify-content: center;
}




/* Animations */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }



/* Media Responsive */

/*Tablet Response*/
@media(max-width:1000px){

    .navbar .container{

        flex-direction: column;
        justify-content: space-between;
        padding:0;
        
    }

    #wallet{
        width: 125px;
        height: 45px;
        font-weight: 500;
        font-size: 14px;

    }

    .navbar .sub-container{
        display: flex;
        padding: 0px;
        justify-content: space-between;
    }

    p#large-header{
        font-size: 54px;
        font-weight: 600;
    }  
    
    div#search{
        width:500px;
        height:82px;
        background-color: rgb(0,0,0,0.7); 
        border-style: ridge;
        border-width: 1px;  
        border-color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height: 100%; 
        padding: 0px;
    }

    form{
        display:flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 0px;
    }
    
    input.search{
        width:400px;
        font-size: 18px;
        font-weight: 200;       
    }
    
    button#search{
        width:95px;
        height:45px;
        font-size: 18px;
    }

    section#black-pages{
        height:2700px;
    }

    section#steps{
        display:flex;
        flex-wrap: wrap; 
        justify-content: center;
        /* padding-bottom: 170px;  */

    }

}

/*Mobile Response*/
@media(max-width:600px){

    .navbar .container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-top: 10px;
        
    }

    .navbar .sub-container{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navbar ul{
        display: flex; 
        justify-content: center;
        margin-left: 100px;

    }

    #wallet{
        width: 125px;
        height: 45px;
        font-weight: 500;
        font-size: 14px;
    }
    .header-text .container{
        margin-top: 150px;
    }
    p#large-header{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
    }  

    p.sub-header{
        font-size: 20px;
        font-weight: 400;
        
    }
    
    div#search{
        width:420px;
        height:70px;
        background-color: rgb(0,0,0,0.7); 
        margin: auto; 
        border-style: ridge;
        border-width: 1px;  
        border-color: grey;
        display: flex;
        justify-content: space-between;
        align-items: center;  
        margin-top: 20px;
    }
    
    input.search{
        width:400px;
        font-size: 16px;
        font-weight: 200;

    }

    button#search{
        
        width:85px;
        height:35px;
        font-size: 16px;
    }

    #location #container{
        margin-left: -70px;
    }
    
    p#browse{
        font-size: 20px;
    }
    
    h1#browse{
        font-size: 38px;
    }

    div#lagos{
        display: flex; 
    }

    button#date{
        margin-top: 10px;
        margin-left: 0px;
    } 
    
    #buttons{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
    }
    section#black-pages{
        height:4000px;
    }

    section#steps{
        display:block;
        flex-wrap: wrap; 
        
    }
    .step{
        margin-left: 0px;
        margin-top: 20px;
    }
}