body{
    height: 2684px;
    background-size:100% 100%;

}

header#main-header{
    background-color: rgb(0,0,0,0.5);
    height:116px;
    width: 100%;
    
    border-bottom: black;
    border-width: 1px;
    border-style: ridge;
    
}

div#container1{
    background-image: url("../images/first-main.png");
    width:1440px;
    height:716px;
    margin-top: -20px;
    margin-left: -10px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;

}

nav a{
    text-decoration: none;
    color:white;
}
nav{
    margin-left: 700px;
    margin-top: -50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

button#wallet{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 10px 10px 25px;
gap: 10px;
background-color: #2CAE77;
width: 185px;
height: 55px;
margin-left: 1150px;
color: white;
font-size: 18px;
font-weight: 500;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: -55px;
vertical-align: middle;
text-align: center;
}

p#large-header{
    font-size: 64px;
    line-height: 32px;
    font-weight: 600;
}  

section#first-main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    margin-top: 170px;
}

p.sub-header{
    font-size: 28px;
    margin-top: -20px;
    line-height: 30px;
}
section#search-image{
    width:676px;
    height:82px;
    background-color: rgb(0,0,0,0.7); 
    margin: auto; 
    margin-top: 60px;
    border-style: ridge;
    border-width: 1px;  
    border-color: grey;
    display: flex;

   
}

section#search-image img{
    margin-top: 17px;
    float:left;
    margin-left: 20px;
}

input[type=search]{
    color:white;

}

button#search{
    color:white;
    background-color: #2CAE77;
    width:125px;
    height:55px;
    margin: auto;
    margin-left: 100px;
    font-size: 18px;
    font-weight: 500;
    border:none;
    

}

section#container2{
    width:1440px;
    height:1968px;
    background-color: #0a0a0a;
    margin-left: -10px;
    margin-top: -20px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section#location{
    height:190px;
    margin-left: 100px;
    padding-top: 75px;
    line-height: 0.2em;
}

section#location img{
    margin-left: 15px;
    margin-top: 80px;
 
}

p#browse{
    font-size: 24px;
    font-weight: 100;
}

h1#browse{
    font-size: 54px;
    font-weight: 400;
}
section#lagos{
    display: flex;
    margin-top: -60px;
}

button#artist{
    width:135px;
    height:39px;
    background-color: #182A23;
    border-color: #c4c4c4;
    border-radius: 30px;
    border-width: 1px;
    color:white;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button#date{
    width:135px;
    height:39px;
    background-color: #0F3D2A;
    border-color: #2CAE77;
    border-radius: 30px;
    border-width: 1px;
    color:white;
    font-size: 16px;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#buttons{
    margin-top: -20px;
}

section#images1{
    margin-top: 70px;
    display: flex;
    margin-left: 70px;
    
}
.image{
    height: 280px;
    width:393px;
    background: transparent;
    color: white;
    border: 1px white;
    border-style: ridge;
    margin-left: 30px;
 
}


div.text{

    margin-left: 30px;
    margin-top: -5px;
}

section#images2{
    margin-top: 70px;
    display: flex;
    margin-left: 70px;
    
}

div#how{
    margin-top: 114px;
    color: white;
    margin-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.step{
    width: 367px;
    height:363px;
    border: 1px white;
    border-style: ridge;
    padding-left:24px;
    padding-top: 24px;
    margin-left: 30px;
}

button#connect{
    width: 185px;
    height: 55px;
    background-color: #2CAE77;
    margin-top: 32px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section#steps{
    display:flex;
    margin-left: -30px;
}

span#footer-text{
    margin-top: 105px;
    margin-left: 233px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer#main-footer{
    height:250px;
}

@media(max-width: 600px){
    #main{
        width:100%;
        float:none;
    }

    #sidebar{
        width:100%;
        float:none;
    }
}